# Color palette
set -g @highlight_purple '#eccfff'

set -g message-style "fg=#000000, bg=#{@highlight_purple}"
set -g mode-style "fg=#000000, bg=#{@highlight_purple}"

set-option -g status-position top
set -sg escape-time 0
set -g default-terminal "xterm-256color"
set-option -ga terminal-overrides ",xterm-256color:Tc"
set -g base-index 1
setw -g pane-base-index 1
set-option -g renumber-windows on
set -g status-left "#[bg=#000000, fg=#ffffff,bold] #S "

{{- if eq .chezmoi.hostname "spock" }}
set -g status-right '#[bg=#000000, fg=#ffffff,bold] #($HOME/.scripts/battery.sh) #[bg=#000000, fg=#ffffff,bold] %I:%M %p '
{{- else }}
set -g status-right '#[bg=#000000, fg=#ffffff,bold] %I:%M %p '
{{- end }}
set -g window-status-current-style bg="#fefffa",fg="#000000"
set -g window-status-current-format " #I #W#{?#F,#F,} "
set -g window-status-format " #I #W#{?#F,#F,} "
set -g status-bg "#000000"
set -g status-fg "#ffffff"
set -g pane-active-border-style fg="#000000"
set -g pane-border-style fg="#ccf4ff"
setw -g mode-keys vi

bind-key h run-shell "~/.scripts/menu/activities.sh"

# Use ctrl+a
unbind-key C-b
set-option -g prefix C-a
bind-key C-a send-prefix
